<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="wxMpMessageRouter" class="me.chanjar.weixin.mp.api.WxMpMessageRouter">
        <constructor-arg ref="wxMpService"/>
    </bean>

    <bean id="wxMpService" class="me.chanjar.weixin.mp.api.WxMpServiceImpl">
        <property name="wxMpConfigStorage" ref="wxMpConfigStorage"/>
    </bean>

    <bean id="wxMpConfigStorage" class="me.chanjar.weixin.mp.api.WxMpInMemoryConfigStorage">
        <property name="appId" value="${wxmp.appId}"/>
        <property name="secret" value="${wxmp.secret}"/>
        <property name="token" value="${wxmp.token}"/>
        <property name="aesKey" value="${wxmp.aesKey}"/>
    </bean>


    <bean id="captchaHepler" class="com.cjwx.titan.server.capcha.CaptchaHepler">
        <property name="captchaProducer" ref="captchaProducer"/>
    </bean>

    <bean id="captchaProducer" class="com.google.code.kaptcha.impl.DefaultKaptcha">
        <property name="config">
            <bean class="com.cjwx.titan.server.capcha.CaptchaConfig">
                <constructor-arg>
                    <props>
                        <prop key="kaptcha.border">${kaptcha.border}</prop>
                        <prop key="kaptcha.image.width">${kaptcha.width}</prop>
                        <prop key="kaptcha.image.height">${kaptcha.height}</prop>
                        <prop key="kaptcha.textproducer.font.names">${kaptcha.font}</prop>
                        <prop key="kaptcha.noise.impl">${kaptcha.noise}</prop>
                        <prop key="kaptcha.textproducer.char.string">${kaptcha.char}</prop>
                    </props>
                </constructor-arg>
            </bean>
        </property>
    </bean>
</beans>