<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	        http://www.springframework.org/schema/util
	        http://www.springframework.org/schema/util/spring-util-4.1.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-4.1.xsd">

    <context:component-scan base-package="com.cjwx.titan.shiro"/>

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="filters">
            <util:map>
                <entry key="login" value-ref="loginFilter"/>
                <entry key="logout" value-ref="logoutFilter"/>
                <entry key="authc" value-ref="authcFilter"/>
            </util:map>
        </property>
        <property name="filterChainDefinitions">
            <value>
                * = anon
                /system/user/login = login
                /system/user/logout = logout
                /system/** = authc
            </value>
        </property>
    </bean>

    <bean id="loginFilter" class="com.cjwx.titan.shiro.filter.StatelessLoginFilter"/>
    <bean id="logoutFilter" class="com.cjwx.titan.shiro.filter.StatelessLogoutFilter"/>
    <bean id="authcFilter" class="com.cjwx.titan.shiro.filter.StatelessAuthcFilter"/>

    <!-- 安全管理器 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="authorizingRealm"/>
        <property name="cacheManager" ref="cacheManager"/>
        <property name="subjectFactory" ref="subjectFactory"/>
        <property name="sessionManager" ref="sessionManager"/>
        <property name="subjectDAO.sessionStorageEvaluator.sessionStorageEnabled" value="false"/>
    </bean>

    <!-- Subject工厂 -->
    <bean id="subjectFactory" class="com.cjwx.titan.shiro.StatelessSubjectFactory"/>

    <!-- Realm实现 -->
    <bean id="authorizingRealm" class="com.cjwx.titan.shiro.realm.StatelessRealm">
        <property name="credentialsMatcher" ref="credentialsMatcher"/>
        <property name="cachingEnabled" value="true"/>
        <property name="authenticationCachingEnabled" value="true"/>
        <property name="authenticationCacheName" value="authenticationCache"/>
        <property name="authorizationCachingEnabled" value="true"/>
        <property name="authorizationCacheName" value="authorizationCache"/>
    </bean>
    <!-- 凭证匹配器 -->
    <bean id="credentialsMatcher"
          class="com.cjwx.titan.shiro.realm.credentials.CredentialsMatcher">
        <constructor-arg ref="cacheManager"/>
        <property name="hashAlgorithmName" value="MD5"/>
        <property name="storedCredentialsHexEncoded" value="true"/>
        <property name="hashIterations" value="1"/>
    </bean>
    <!-- 缓存管理器 -->
    <bean id="cacheManager" class="com.cjwx.titan.shiro.cache.RedisCacheManager"/>
    <!-- 会话管理器 -->
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="sessionValidationSchedulerEnabled" value="false"/>
        <property name="sessionIdCookieEnabled" value="false"/>
    </bean>
    <!-- 相当于调用SecurityUtils.setSecurityManager(securityManager) -->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="org.apache.shiro.SecurityUtils.setSecurityManager"/>
        <property name="arguments" ref="securityManager"/>
    </bean>
    <!-- 生命周期处理器-->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

</beans>